body {
  margin: 0;
  background: #000000 !important; /* black */
  color: #f5e9d3 !important;       /* cream */
  font-family: sans-serif;
}

.gold {
  color: #d6b86b; /* golden */
}

.section {
  padding: 120px 10%;
  position: relative;
  z-index: 2;
  color: #f5e9d3; /* cream text */
}

h1, h2, p {
  color: #f5e9d3; /* cream */
}

.card-desc {
  color: #f5e9d3 !important;
}
